<header class="header">
  <div class="social-bar">
    <div class="social-container">
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-skype"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="contact-info">
        <span><i class="fas fa-phone"></i> +91 8825604050</span>
        <span><i class="fas fa-envelope"></i> sales&#64;velan.co.in</span>
      </div>
    </div>
  </div>
  
 <div >
   
  
  <nav class="navbar">
    <span class="logo-section">
    <img src="assets/velan-logo.png" alt="Velan" class="logo">
   </span>
    <div class="nav-container">
      <ul class="nav-menu">
        <li><a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active"><i class="fas fa-info-circle"></i> About Velan</a></li>
        <li><a routerLink="/products" routerLinkActive="active"><i class="fas fa-box"></i> Velan Products</a></li>
        <li><a routerLink="/services" routerLinkActive="active"><i class="fas fa-cogs"></i> Services</a></li>
        <li><a routerLink="/clients" routerLinkActive="active"><i class="fas fa-users"></i> Clients</a></li>
        <li><a routerLink="/contact" routerLinkActive="active"><i class="fas fa-envelope"></i> Contact Us</a></li>
      </ul>
    </div>
  </nav>
 </div>
</header>